:root{
    --primary: rgb(83, 88, 97);
    --secondary: #4f35e5;
    --dark: rgb(24, 23, 23);
    --light: #fff;
    --shadow: 0 1px 25px rgba(104, 104, 104, 0.808);
    --theme: rgb(16, 22, 53);
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* navbar section starts */

.navbar-section{
    font-family: 'Ubuntu', sans-serif;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    box-sizing: border-box;
}

.navbar-section-menu-icon{
    display: none;
}

.navbar-section-heading{
    padding: 10px;
}

.navbar-section-heading > h1{
    font-size: 38px;
}

.navbar-section-nav > ul  {
    display: flex;
}

.navbar-section-nav > ul > li{
    margin: 0 20px;
    font-size: 20px;
    list-style-type: none;
    cursor: pointer;
}

/* navbar section ends */

/* header section starts */

.header-section{
    max-width: 100%;
    display: flex;
    padding: 20px;
    font-family: 'Ubuntu', sans-serif;
    box-sizing: border-box;
}

.header-section-left{
    width: 45%;
    padding: 0 15px;
}

.header-section-left-heading {
    line-height: 25px;
}

.header-section-left-heading > h1{
    color: var(--theme);
    font-size: 38px;
    font-weight: bolder;
}

.header-section-left-para{
    margin-top: 10px;
}

.header-section-left-para > p{
    font-weight: 700;
}

.header-section-left-button{
    margin-top: 20px;
    padding: 10px 20px;
    border: 1px solid var(--secondary);
    border-radius: 25px;
    background-color: var(--secondary);
    color: var(--light);
    font-size: 18px;
    cursor: pointer;
    text-align: center;
}

.header-section-left-button > .fas{
    position: relative;
    top: 2px;
    font-size: 20px;
}

.header-section-right{
    width: 55%;
    padding: 0 15px;
    cursor: pointer;
}

.header-section-right > img {
    height: 350px;
    position: relative;
    left: 50%; 
    transform: translateX(-50%); 
}



.header-section-right:hover > img{

    animation: image 5s linear 2s infinite alternate forwards;
    transition: animation 5s linear 2s;

}

@keyframes image{

    0%{
         top: 0;
         bottom: 0;
     }
     25%{
         
         top: 30px;
         bottom: 0;
      }
      50%{
          
          top:0;
          bottom:30px;
      }
      75%{
          top: -30px;
          bottom:0;
      }

      100%{
          top: 0px;
          bottom: -30px;
      }


}

/* header section ends */

/* main section starts */
main{
    max-width: 100%;
    box-sizing: border-box;
}

/* logo section starts */
.logo-section{
    padding: 20px;
    position: relative;
    margin-top: 20px;
    left: 50%;
    transform: translateX(-50%);
    box-sizing: border-box;
}

.logo-section > hr{
    border: 1px dashed var(--primary);
    width: 90%;
}

.logos{
    padding: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logos > img{
    cursor: pointer;
    margin: 10px;
}
/* logo section ends */

/* collection section starts */

.collection-section{
    padding: 10px;
    margin: 10px;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
}

.collection-section-header{
    margin: 10px 0;
    padding: 10px 5px;
    text-align: center;
}

.collection-section-header > h1{
    font-size: 38px;
    font-weight: bolder;
}

.collection-section-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.collection-section-box-card{
    margin: 10px;
    box-shadow: var(--shadow);
    padding: 10px;
    border: none;
    border-radius: 10px;
}

.collection-section-box-card-details{
    padding: 5px;
    line-height: 15px;
}

.collection-section-box-card-details > h2{
    font-size: 32px;
    font-weight: bolder;
}

.collection-section-box-card-details > h3{
    font-size: 26px;
    font-weight: bolder;
}

.collection-section-box-card-details-ratings{
    display: flex;
    align-items: center;
}

.collection-section-box-card-details-ratings > h4{
    margin: 0 10px;
    color: var(--primary);
    font-weight: bolder;
}

.fa-star, .fa-star-half-alt{
    color: rgb(255, 123, 0);
}

.collection-section-box-card-details-para{
    line-height: 10%;
    color: var(--primary);
}

/* collection section ends */

/* see more section starts */

.see-more-section{
    display: flex;
    justify-content: flex-end;
    margin-left: 10px;
    padding: 5px 10px;
    position: relative;
    right: 5%;
    transform: translateX(-5%);
    box-sizing: border-box;
}

.see-more-section > a {
    font-size: 26px;
    text-decoration: none;
    color: var(--secondary);
    font-weight: bolder;
}

.fa-arrow-right{
    position: relative;
    top: 2px;
}

/* see more section ends */

/* subscribe section starts */
.subscribe-section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px;
    font-family: 'Be Vietnam Pro', sans-serif;
    box-sizing: border-box;
}

.subscribe-section-heading{
    text-align: center;
    padding: 10px;
}

.subscribe-section-heading > h3{
    font-size: 26px;
    font-weight: bolder;
}

.subscribe-section-form{
    padding: 10px 5px;
}

.subscribe-section-form > form > input{
    padding: 10px 20px;
    text-align: center;
    font-size: 20px;
    border: 1px solid var(--dark);
    box-shadow: var(--shadow);
    margin: 10px;
    box-sizing: border-box;
}

.subscribe-section-form > form > input:hover{
   border: 1px solid var(--primary);
}

.subscribe-section-form-button{
    padding: 10px;
    text-align: center;
    font-size: 20px;
    background-color: var(--dark);
    border: 1px solid var(--dark);
    color: var(--light);
    cursor: pointer;
    box-shadow: var(--shadow);
    text-transform: uppercase;
    margin: 10px;
    box-sizing: border-box;
}

.subscribe-section-form-button:hover{
    border: 1px solid var(--primary);
    background-color: var(--primary);
}
/* subscribe section ends */

/* main section ends */

/* footer section starts */

.footer-section{
    background-color: var(--theme);
    color: var(--light);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Ubuntu', sans-serif;
    max-width: 100%;
    box-sizing: border-box;
}

.footer-section-heading{
    margin-top: 15px;
}

.footer-section-heading > h3{
    font-size: 26px;
    font-weight: bolder;
}

.footer-section-copyright{
    text-align: center;
}

.footer-section-copyright > p{
    font-weight: 700;
    margin: 5px 0;
}

.footer-section-social-media > ul {
    display: flex;
    padding: 10px 5px;
}

.footer-section-social-media > ul > li {
    list-style-type: none;
    margin: 0 15px;
    font-size: 25px;
    padding: 10px 5px;
    background-color: rgba(8, 13, 36, 0.719) ;
    cursor: pointer;
    border-radius: 50%;
}

/* footer section ends */
